BrailleSystemWeb_Application/Connected Services/BrailleServiceReference/PrinterWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalculateCirclePerimeterAndBrailleDots">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="radius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateCirclePerimeterAndBrailleDotsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateCirclePerimeterAndBrailleDotsResult" type="tns:ValueTupleOfDoubleInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValueTupleOfDoubleInt32">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Item1" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Item2" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalculateRectanglePerimeterAndBrailleDots">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateRectanglePerimeterAndBrailleDotsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateRectanglePerimeterAndBrailleDotsResult" type="tns:ValueTupleOfDoubleInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateTrianglePerimeterAndBrailleDots">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="side1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="side2" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="side3" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateTrianglePerimeterAndBrailleDotsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateTrianglePerimeterAndBrailleDotsResult" type="tns:ValueTupleOfDoubleInt32" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateCirclePerimeterAndBrailleDotsSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateCirclePerimeterAndBrailleDots" />
  </wsdl:message>
  <wsdl:message name="CalculateCirclePerimeterAndBrailleDotsSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateCirclePerimeterAndBrailleDotsResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateRectanglePerimeterAndBrailleDotsSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateRectanglePerimeterAndBrailleDots" />
  </wsdl:message>
  <wsdl:message name="CalculateRectanglePerimeterAndBrailleDotsSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateRectanglePerimeterAndBrailleDotsResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateTrianglePerimeterAndBrailleDotsSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateTrianglePerimeterAndBrailleDots" />
  </wsdl:message>
  <wsdl:message name="CalculateTrianglePerimeterAndBrailleDotsSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateTrianglePerimeterAndBrailleDotsResponse" />
  </wsdl:message>
  <wsdl:portType name="PrinterWebServiceSoap">
    <wsdl:operation name="CalculateCirclePerimeterAndBrailleDots">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method calculates the number of Braille dots and perimeter of a circle</wsdl:documentation>
      <wsdl:input message="tns:CalculateCirclePerimeterAndBrailleDotsSoapIn" />
      <wsdl:output message="tns:CalculateCirclePerimeterAndBrailleDotsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateRectanglePerimeterAndBrailleDots">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method calculates the number of Braille dots and perimeter of a rectangle</wsdl:documentation>
      <wsdl:input message="tns:CalculateRectanglePerimeterAndBrailleDotsSoapIn" />
      <wsdl:output message="tns:CalculateRectanglePerimeterAndBrailleDotsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTrianglePerimeterAndBrailleDots">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method calculates the number of Braille dots and perimeter of a triangle</wsdl:documentation>
      <wsdl:input message="tns:CalculateTrianglePerimeterAndBrailleDotsSoapIn" />
      <wsdl:output message="tns:CalculateTrianglePerimeterAndBrailleDotsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrinterWebServiceSoap" type="tns:PrinterWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateCirclePerimeterAndBrailleDots">
      <soap:operation soapAction="http://tempuri.org/CalculateCirclePerimeterAndBrailleDots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateRectanglePerimeterAndBrailleDots">
      <soap:operation soapAction="http://tempuri.org/CalculateRectanglePerimeterAndBrailleDots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTrianglePerimeterAndBrailleDots">
      <soap:operation soapAction="http://tempuri.org/CalculateTrianglePerimeterAndBrailleDots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PrinterWebServiceSoap12" type="tns:PrinterWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateCirclePerimeterAndBrailleDots">
      <soap12:operation soapAction="http://tempuri.org/CalculateCirclePerimeterAndBrailleDots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateRectanglePerimeterAndBrailleDots">
      <soap12:operation soapAction="http://tempuri.org/CalculateRectanglePerimeterAndBrailleDots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTrianglePerimeterAndBrailleDots">
      <soap12:operation soapAction="http://tempuri.org/CalculateTrianglePerimeterAndBrailleDots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrinterWebService">
    <wsdl:port name="PrinterWebServiceSoap" binding="tns:PrinterWebServiceSoap">
      <soap:address location="https://localhost:44366/PrinterWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="PrinterWebServiceSoap12" binding="tns:PrinterWebServiceSoap12">
      <soap12:address location="https://localhost:44366/PrinterWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>